@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
}

/* App.css */

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards; /* Smooth fade-in over 1.5 seconds */
}

.fade-out {
  opacity: 1;
  animation: fadeOut 1.5s forwards; /* Smooth fade-out over 1.5 seconds */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.slow-bg-transition {
  transition: background-color 2s ease; /* Adjust time as needed */
}
